<div class="topcoat-navigation-bar">
    <div class="topcoat-navigation-bar__item left quarter">
        <a class="topcoat-icon-button--quiet">
            <span class="topcoat-icon topcoat-icon--menu-stack"></span>
        </a>
    </div>
    <div class="topcoat-navigation-bar__item center half">
        <h1 class="topcoat-navigation-bar__title">WebApp Stuff</h1>
    </div>
</div>

<div class="topcoat-list__container">
    <h3 class="topcoat-list__header">You're doing some cool stuff</h3>
    <a href="/logout" class="topcoat-button--cta">Logout</a>
</div>
